$grid-contrast: adjust-color(gray, $lightness: 1%) !important;

.analyst-block {
    display: flex;
    width: 100%;
    height: auto;
    padding-left: 22px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    justify-content: flex-start;
    gap: 16px;
}

.clock-svg {
    width: 16px;
    height: 16px;
    left: 1.33px;
    top: 1.33px;
    position: absolute;
    background-image: url("../../assets/svg/clock.svg") !important;
    background-repeat: no-repeat;
}

.seperator-dot {
    width: 11px;
    height: 11px;
    left: 10px;
    margin-left: 0px;
    margin-top: 7px;
    position: absolute;
    background: #3464bc;
    box-shadow: 0px 0px 1px 2px rgba(0, 14, 67, 0.86);
    border-radius: 100px;
    border: 2px white solid;
    .seperator-line {
        margin-top: 10px;
        width: 0px;
        margin-left: 1px;
        height: 69px;
        border: 2px #012169 solid;
    }
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    color: blue !important;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.modal-body {
    position: relative;
    width: auto;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
    height: 400px;
}

.grid-parent {
    //width: 100% !important;
    max-width: 1440px;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
