<div class="grid-grand-parent">
  <div class="grid-parent"
     *ngIf="(dashboardFacadeComponent.apiFlags$ | async) as flagList">
    <div *ngFor="let item of flagList">
      <app-tile-card (callHistoryModal)="updateFlagRun($event)"
         [DashboardItem]="item"></app-tile-card>
    </div>
  </div>
</div>

<div *ngIf="showEditorModal">
  <div class="mymodal modal"
     data-backdrop="static"
     id="staticBackdrop"
     tabindex="-1"
     role="dialog"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true"
     [ngClass]="showEditorModal ? 'modal shown' : 'modal hidden'">
    <div class="modal-content">
      <div class="myheader"
         [style.background-color]="getPriorityColor(activeFlag.priority)">
        <div><span class="flag-type-text fw-600 me-2">{{activeFlag.flagTypeName}}:</span>
          <span class="flag-name-text fw-600">{{activeFlag.name}}</span>
        </div>
        <div class=" ml-auto">
          <button class="btn btn-primary-transparent darken-bkgd"
             (click)="closeModal(123)">Close</button>
        </div>
      </div>
      <div class="w-100 modal-body">
        <div class="flag-run-parent">
          <div class="flag-run-row"
             *ngFor="let item of activeFlag.flagRuns">
            <div class="flight-group mr-auto">
              <span class="mr-auto">Run: {{item.processDate}}</span>
              <span class="flag-name-text pe-2">{{item.flightCount}} Flights</span>
            </div>
            <div class="dropdown-end ml-auto w-50">
              <div class="floating-box">
                <span class="scrollable-box">

                  <ng-select class="flight-details-select"
                     title="Flights"
                     [clearable]="false"
                     [searchable]="false"
                     placeholder="View Flights"
                     [items]="item.flights">

                    <ng-template ng-option-tmp
                       let-item="item"
                       let-i="index">
                      <span>
                        {{ item.airlineCode }}: {{ item.flightLine }}:: Date: {{
                        item.departureDate }}
                      </span>
                    </ng-template>
                  </ng-select>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>