$grid-contrast: adjust-color(gray, $lightness: 1%) !important;

.clock-svg {
    width: 16px;
    height: 16px;
    background-image: url("../../assets/svg/clock.svg") !important;
    background-repeat: no-repeat;
}

.seperator-dot {
    width: 11px;
    height: 11px;
    //left: 10px;
    //margin-left: 0px;
    //margin-top: 7px;
    //position: absolute;
    background: #3464bc;
    box-shadow: 0px 0px 1px 2px rgba(0, 14, 67, 0.86);
    border-radius: 100px;
    border: 2px white solid;
    .seperator-line {
        margin-top: 10px;
        width: 0px;
        margin-left: 1px;
        height: 100%;
        border: 2px #012169 solid;
    }
}

.flag-run-parent {
    width: 100% !important;
    display: flex;
    justify-content: flex-start;
}

.mymodal {
    //margin: 10 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.4rem;
    width: 50%;
    padding: 0.6rem;
    height: auto;
    position: absolute;
    z-index: 1100;
    top: 20%;
    left: calc(100% / 4) !important;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;

    .myheader {
        width: 100%;
        background-color: #0e197a;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        color: white !important;
        padding: var(--bs-modal-header-padding);
        border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
        border-top-left-radius: var(--bs-modal-inner-border-radius);
        border-top-right-radius: var(--bs-modal-inner-border-radius);
    }

    .myfooter {
        border-top: 1px solid rgb(206, 206, 206);
        padding: 6px 0;
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    &.hidden {
        display: none;
    }
    &.shown {
        display: flex;
    }
}

.container {
    display: flex;
    width: 100% !important;
    flex-direction: column;
    // .dropdown-arrow {
    //     background-color: #0e197a;
    //     width: 10px;
    //     height: 10px;
    // }
    //gap: 10px; /* Adjust the value as needed for the spacing between stacked elements */
}

.container .item {
    width: 100%;
    background-color: #6495ed;
    margin-bottom: 6px;
    color: white;
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
    align-items: center;
    cursor: move;
    padding: 2px 5px;
    transition: transform 0.5s ease-in-out; /* Add a transition for smooth animation */
}

// .container .item.cdk-drag-preview {
//     z-index: 12000;
//     opacity: 0.8; /* Adjust the opacity of the dragged element preview */
//     background-color: #ffa500; /* Customize the background color of the dragged element preview */
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Add a box shadow to the dragged element preview */
// }

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    color: blue !important;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.modal-body {
    position: relative;
    padding: 8px 10px !important;
    width: auto;
    flex: 1 1 auto;
    height: auto;
    .dropdown {
        position: static !important;
    }
}

.modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 5px !important;
    background-color: var(--bs-modal-footer-bg);
    border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
    border-bottom-right-radius: var(--bs-modal-inner-border-radius);
    border-bottom-left-radius: var(--bs-modal-inner-border-radius);
}

.border-gray-bottom {
    background-color: rgb(240, 240, 240);
    padding: 3px 12px;
    border-radius: 5px;
    margin-bottom: 6px;
}

.action-center {
    width: 100%;
    margin: 0 auto;
}

.grid-parent {
    margin-top: 10px;
    width: 100% !important;
    //width: 85% !important;
    //padding: 0 20px;
    //margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    //overflow-y: scroll;
    flex-wrap: wrap;
}
