<div class="avatar-center">
    <div class="d-flex align-items-center w-100">
        <div class="title-row">
            <div class="subtitle-text sub-title-20-28-600">Create Avatar</div>
        </div>
        <span clas="ml-auto">
            <mat-icon (click)="saveAndCloseEditor()"
               class="icon-wrapper relative icon"
               fontIcon="done"></mat-icon>
        </span>
    </div>
    <div class="avatar-container">

        <div class="image-container box-shadow-avatar"
           *ngIf="file; else placeholder"
           [ngStyle]="{backgroundImage: 'url(' + file + ')'}">
        </div>

        <ng-template #placeholder>
            <div class="image-container avatar-placeholder">
            </div>
        </ng-template>

        <label for="avatar-input-file">
            <div class="icon-wrapper absolute">
                <input type="file"
                   id="avatar-input-file"
                   accept="image/*"
                   (change)="onFileChange($event)" />
                <mat-icon class="icon"
                   fontIcon="edit"></mat-icon>
            </div>
        </label>
    </div>
    <div class="flex-column">
        <label>Initials</label>
        <div class="d-flex">
            <input type="text"
               class=""
               (change)="setInitials($event)" />
        </div>
    </div>
</div>