@import "../../styles/configuration.scss";

.avatar-center {
    margin-top: 30px;
    display: flex;
    align-content: center;
    width: 450px;
    height: 500px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    //padding-top: 10px;
    border: 1px solid black;
    border-radius: 6px;

    .avatar-container {
        position: relative;
        width: fit-content;
    }

    .title-row {
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon-config {
            align-self: flex-end;
        }
    }

    .avatar-row {
        display: flex;
        align-content: center;
    }
}

.box-shadow-avatar {
    box-shadow: 0 10px 20px 20px #6c93001a;
}

.icon-wrapper {
    height: 40px;
    width: 40px;
    padding: 0.35rem;
    background-color: #2962ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20%;
    top: 75%;
    z-index: 2;
    cursor: pointer;

    &.absolute {
        position: absolute;
    }
    &.relative {
        position: relative;
    }
    &:hover {
        transition: all 0.25s;
        background-color: darken(#2962ff, 15%);
    }
    &.icon {
        color: white;
    }
    .icon {
        color: white;
    }

    label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input[type="file"] {
        display: none;
    }
}
