$accelya-primary-blue: rgb(1, 33, 105);
$accelya-primary-grey: rgb(66, 85, 99);
$accelya-primary-rose: rgb(223, 70, 97);
$accelya-unselected-blue: #315fb3;
// $font-size-large: 2rem; // 1.4rem == 14px
// $font-size-medium-large: 1.8rem;

// $font-size-base-a: 16px !important; // 16px == 16px
$font-size-base-xl: 17px !important;
//$font-size-base-lg: 14px; // 14px == 16px
//$font-size-base-ml: 13px; //12px @ 16px base
$font-size-base-md: 12px; //12px @ 16px base
$font-size-base-sm: 11px !important; //11px @ 16px base
$font-size-base-xs: 10px !important; //10px @ 16px base

$font-weight-lg: 600;
$font-weight-md: 500;
$font-weight-nml: 400;
$font-weight-lt: 300;

$font-family: "OpenSans-Semibold", sans-serif;

:root {
  --accelya-primary-blue: #012169;
  --accelya-primary-disabled: #575656;
  --accelya-primary-color-disabled: #000000;
  --accelya-primary-green: #425563;
  --dl-color-txt-bg-neutralgrey: #8e99a1;
  --body-02-txt-color: #313f4a;
  --bg-light-blue: #dee7f8;
  --bs-white: white;
  // Button states
  --button-primary-blue-hover: #344d87;
  --button-primary-blue-pressed: #011a54;

  --accelya-primary-red: #df4661;
  --button-primary-red-hover: #e56b81;
  --button-primary-red-pressed: #b2384e;

  --14px-body-1-semibold-font-family: "OpenSans-SemiBold", Helvetica;
  --14px-body-1-semibold-font-size: 14px;
  --14px-body-1-semibold-font-style: normal;
  --14px-body-1-semibold-font-weight: 600;
  --14px-body-1-semibold-letter-spacing: 0px;
  --14px-body-1-semibold-line-height: 20px;
  --bc-1alpha-30: rgba(52, 100, 188, 0.25);
  --bc-2l-40: rgba(103, 122, 165, 1);
  --darkgreyl-25: rgba(101, 111, 119, 1);
  --mainbc-1: rgba(52, 100, 188, 1);
  --mainbc-2: rgba(1, 33, 105, 1);
  --mainbc-3: rgba(66, 85, 99, 1);
  --paragraph-font-size-300-font-family: "OpenSans-Regular", Helvetica;
  --paragraph-font-size-300-font-size: 14px;
  --paragraph-font-size-300-font-style: normal;
  --paragraph-font-size-300-font-weight: 400;
  --paragraph-font-size-300-letter-spacing: 0px;
  --paragraph-font-size-300-line-height: 24px;

  --regular-font-size-100-font-family: "OpenSans-Regular", Helvetica;
  --regular-font-size-100-font-size: 12px;
  --regular-font-size-100-font-style: normal;
  --regular-font-size-100-font-weight: 400;
  --regular-font-size-100-letter-spacing: 0px;
  --regular-font-size-100-line-height: 20px;
  --semibold-font-size-200-semi-font-family: "OpenSans-SemiBold", Helvetica;
  --semibold-font-size-200-semi-font-size: 13px;
  --semibold-font-size-200-semi-font-style: normal;
  --semibold-font-size-200-semi-font-weight: 600;
  --semibold-font-size-200-semi-letter-spacing: 0px;
  --semibold-font-size-200-semi-line-height: 24px;
  --txt-bgbluegrey: rgba(185, 201, 225, 1);
  --txt-bgdarkgrey: rgba(49, 63, 74, 1);
  --txt-bglightpaleblue: rgba(244, 246, 248, 1);
  --txt-bgpaleblue: rgba(219, 226, 233, 1);
  --txt-bgscreenblack: rgba(17, 17, 17, 1);
  --txt-bgwhite: rgba(255, 255, 255, 1);

  --bc-3l-70: rgba(198, 204, 208, 1);
  --accelyarosed-40: rgba(122, 43, 57, 1);
  --bc-3d-70: rgba(20, 26, 30, 1);
  --darkgreyl-5: rgba(59, 73, 83, 1);
  --darkgreyd-5: rgba(47, 60, 70, 1);
  --darkgreyl-25: rgba(101, 111, 119, 1);
  --alertsdarkgreen: rgba(0, 131, 17, 1);
  --heading-font-size-300-semi-font-family: "OpenSans-SemiBold", Helvetica;
  --heading-font-size-300-semi-font-weight: 600;
  --heading-font-size-300-semi-font-size: 14px;
  --heading-font-size-300-semi-letter-spacing: 0px;
  --heading-font-size-300-semi-line-height: 24px;
  --heading-font-size-300-semi-font-style: normal;
  --regular-font-size-75-font-family: "OpenSans-Regular", Helvetica;
  --regular-font-size-75-font-weight: 400;
  --regular-font-size-75-font-size: 11px;
  --regular-font-size-75-letter-spacing: 0px;
  --regular-font-size-75-line-height: 16px;
  --regular-font-size-75-font-style: normal;
  --regular-font-size-50-font-family: "OpenSans-Regular", Helvetica;
  --regular-font-size-50-font-weight: 400;
  --regular-font-size-50-font-size: 10px;
  --regular-font-size-50-letter-spacing: 0px;
  --regular-font-size-50-line-height: 16px;
  --regular-font-size-50-font-style: normal;
  --drop-shadow-light-mode-l: 0px 10px 15px -3px rgba(15, 15, 16, 0.1);
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.headline-text {
  color: $accelya-primary-blue;

  &.headline-20-28-600 {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }

  &.headline-24-32-600 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }

  &.headline-32-40-600 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }
}

.body-text {
  &.color-white {
    color: var(--bs-white);
  }
  &.text-p-blue {
    color: var(--accelya-primary-blue);
  }
  &.text-s-blue {
    color: rgba(100, 100, 255, 1);
  }
  // text-body-plat
  &.text-body-plat {
    color: var(--accelya-primary-blue);
  }
  &.text-slate-blue {
    color: var(--bg-light-blue);
  }
  &.body-10-14-400 {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
  }
  &.body-10-14-600 {
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
  }
  &.body-12-16-400 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }
  &.body-12-16-600 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
  }
  &.body-14-24-600 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
  }
  &.body-16-24-600 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  &.body-02 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }
  &.body-14-20-600 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }

  &.body-12-20-600 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
  }
  &.body-14-16-400 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
  &.body-16-24-600 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  &.body-16-24-400 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}

.subtitle-text {
  &.sub-title-18-600 {
    color: var(--body-02-txt-color);
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
  }
  &.sub-title-20-28-600 {
    color: var(--body-02-txt-color);
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
  }
  &.sub-title-16-700 {
    color: var(--body-02-txt-color);
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
  }
}

.fw-600 {
  font-weight: $font-weight-lg;
}

.fw-500 {
  font-weight: $font-weight-md;
}

.fw-400 {
  font-weight: $font-weight-nml;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(197, 197, 197);
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(139, 139, 139);
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(99, 99, 99);
}
