// //@import "src/assets/styles.scss";
$grid-contrast: adjust-color(gray, $lightness: 1%) !important;

// :host ::ng-deep gridster {
//     // overflow-x: hidden !important;
//     // height: calc(100vh - 80px) !important; // example if you were to say need 600px of space above the grid
//     width: 100% !important;

//     background-color: rgb(182, 182, 192) !important;
// }

:host ::ng-deep .gridster-column {
    // border-left: 5px solid red !important;
    // border-right: 5px solid red !important;
    // outline: 5px solid red !important;
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid transparent !important;
    outline: 5px solid transparent !important;
}

::ng-deep .gridster-row {
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid transparent !important;
    outline: 5px solid transparent !important;
    border-top: 1px solid transparent !important;
    // border-bottom: 1px solid $grid-contrast;
    outline: 5px solid transparent !important;
}

// // :host ::ng-deep gridster-item {
// //   box-sizing: border-box;
// //   overflow: visible !important;
// //   overflow-y: scroll;
// //   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
// //   z-index: 100;
// //   // position: absolute;

// //   // .table-version {
// //   //   width: 100%;
// //   //   display: flex;
// //   //   justify-content: space-between;
// //   //   position: absolute;
// //   //   bottom: 5px;
// //   // }

// //   // .chart-version {
// //   //   width: 100%;
// //   //   display: flex;
// //   //   justify-content: space-between;
// //   //   position: absolute;
// //   //   bottom: 5px;
// //   // }

// //   .grid-item-header {
// //     z-index: 100;
// //     top: 5px;
// //     position: absolute;
// //     width: 100%;
// //     height: 25%;
// //     background-color: rgba(190, 10, 10, 0);

// //     &.cursor-move {
// //       cursor: move;
// //     }
// //   }

// //   .tile-header {
// //     margin-top: .3rem;
// //     font-weight: 500;
// //     font-size: 0.9rem;
// //   }

// //   .tile-type {
// //     font-size: 0.8rem;
// //     justify-content: space-between;
// //   }

// // }
