.truncate {
    width: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-selector {
    position: absolute;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.39);
    margin-left: 140px;
    margin-top: 35px;
    border-radius: 6px;
    text-align: left;
    flex-direction: column;
    align-content: center;
    font-size: 13px;
    &.opened {
        display: flex;
    }
    &.closed {
        display: none;
    }

    .link-text {
        text-decoration: none;
        padding: 4px 20px;
        color: black;
        line-height: 20px;
        &:hover {
            // color: $brand-link-blue-text;
            background-color: rgba(208, 224, 255, 0.5);
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
    &.hidden {
        display: none;
    }
    &.shown {
        display: block;
    }
}
