<div class="item-content">
    <div [ngClass]="dashboardTile.reviewed ? 'reviewed-tag visible' : 'reviewed-tag not-visible'">Reviewed</div>

    <div class="drag-handler">

        <div class="identity-row noselect mt-2 mb-1">

            <div class="card-top-row mb-2">
                <div class="number-container"
                   [style.background-color]="dashboardTile.color">
                    <span class="number-wrapper">{{dashboardTile.priority}}</span>
                </div>
                <div class="card-row-frame">
                    <div class="div">{{dashboardTile.name}}</div>
                    <div class="text-wrapper">421 Flights</div>
                </div>
            </div>
        </div>
        <div class="identity-row">
            <div class="card-bottom-row">
                <div class="system-time-wrapper">
                    <div class="clock-svg"></div>
                </div>
                <div class="column-frame ms-1">
                    <div class="text-wrapper mb-1">Last Update</div>
                    <div class="p">{{dashboardTile.lastUpdate}}</div>
                </div>
            </div>
            <a class="ellipsis-vertical"
               (click)="selectDropdown(dashboardTile.idx)"></a>

            <div class="flex-column noselect"
               [ngClass]="dashboardTile.showOptions ? 'dropdown-selector opened' : 'dropdown-selector closed'">
                <a class="link-text"
                   data-bs-toggle="modal"
                   data-bs-target="#exampleModal"
                   *ngFor="let option of selectionOptions"
                   (click)="goToDestination(option, dashboardTile.idx)">{{option.name}}</a>
            </div>
        </div>
    </div>
</div>