.truncate {
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-content {
    border: 1px solid rgb(192, 192, 192);
    box-shadow: 0px 7px 12px -3px rgba(15, 15, 16, 0.1);
    color: white;
    font-weight: "bold";
    margin: 6px;
    border-radius: 10px !important;
    width: 14.5rem;
    background: white !important;
    background-color: white !important;
    padding: 13px 20px 10px;

    .reviewed-tag {
        margin-top: -22px;
        margin-left: 60%;
        width: 4.6rem;
        line-height: 16px;
        border-radius: 12px;
        text-align: center;
        padding: 1px 12px;
        font-size: 11px;
        font-weight: 600;
        background-color: white;
        color: var(--alertsdarkgreen);
        border: 1px solid var(--alertsdarkgreen);

        &.visible {
            opacity: 1;
        }
        &.not-visible {
            opacity: 0;
        }
    }

    .drag-handler {
        background-color: white;
        border-radius: 10px !important;
        display: flex;
        flex-direction: column;

        .identity-row {
            display: flex;
            justify-content: space-between;
            align-content: center;

            .card-top-row {
                display: flex;
                align-items: flex-end;
                width: 100%;

                .number-container {
                    display: flex;
                    width: 50px;
                    height: 40px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;

                    .number-wrapper {
                        font-weight: 600;
                        color: #ffffff;
                        font-size: 22px;
                        //line-height: 22px;
                    }
                }

                .card-row-frame {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    .div {
                        margin-top: -1px;
                        font-family: var(--heading-font-size-300-semi-font-family);
                        font-weight: var(--heading-font-size-300-semi-font-weight);
                        color: var(--bc-3d-70);
                        font-size: var(--heading-font-size-300-semi-font-size);
                        text-align: right;
                        letter-spacing: var(--heading-font-size-300-semi-letter-spacing);
                        line-height: var(--heading-font-size-300-semi-line-height);
                        font-style: var(--heading-font-size-300-semi-font-style);

                        width: 140px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .text-wrapper {
                        margin-top: -4px;
                        // font-family: var(--regular-font-size-75-font-family);
                        // font-weight: var(--regular-font-size-75-font-weight);
                        //color: var(--darkgreyl-5);
                        //font-size: var(--regular-font-size-75-font-size);
                        //text-align: right;
                        // letter-spacing: var(--regular-font-size-75-letter-spacing);
                        //line-height: var(--regular-font-size-75-line-height);
                        //font-style: var(--regular-font-size-75-font-style);
                    }
                }
            }
            .card-bottom-row {
                display: flex;
                align-items: flex-start;

                .system-time-wrapper {
                    .clock-svg {
                        width: 16px;
                        height: 16px;
                        background-image: url("../../../assets/svg/clock.svg") !important;
                        background-repeat: no-repeat;
                    }
                }

                .column-frame {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .text-wrapper {
                        margin-top: -1px;
                        font-family: "Open Sans-SemiBold", Helvetica;
                        font-weight: 600;
                        color: var(--darkgreyd-5);
                        font-size: 10px;
                        letter-spacing: 0;
                        line-height: 16px;
                    }
                    .p {
                        margin-top: -2px;
                        font-family: var(--regular-font-size-50-font-family);
                        font-weight: var(--regular-font-size-50-font-weight);
                        color: var(--darkgreyl-25);
                        font-size: var(--regular-font-size-50-font-size);
                        letter-spacing: var(--regular-font-size-50-letter-spacing);
                        line-height: var(--regular-font-size-50-line-height);
                        font-style: var(--regular-font-size-50-font-style);
                    }
                }
            }
        }
    }
}

.dropdown-selector {
    position: absolute;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.39);
    margin-left: 140px;
    margin-top: 35px;
    border-radius: 6px;
    text-align: left;
    flex-direction: column;
    align-content: center;
    font-size: 13px;
    &.opened {
        display: flex;
    }
    &.closed {
        display: none;
    }

    .link-text {
        text-decoration: none;
        padding: 4px 20px;
        color: black;
        line-height: 20px;
        &:hover {
            // color: $brand-link-blue-text;
            background-color: rgba(208, 224, 255, 0.5);
        }
    }
}

// .card {
//     display: flex;
//     flex-direction: column;
//     width: 247.6px;
//     align-items: flex-start;
//     gap: 12px;
//     padding: 24px;
//     position: relative;
//     background-color: var(--txt-bgwhite);
//     border-radius: 8px;
//     border: 2px solid;
//     border-color: var(--bc-3l-70);
//     box-shadow: var(--drop-shadow-light-mode-l);
// }

// .number {
//     display: flex;
//     flex-direction: column;
//     width: 40px;
//     height: 40px;
//     align-items: center;
//     justify-content: center;
//     gap: 8px;
//     padding: 8px;
//     position: relative;
//     background-color: var(--accelyarosed-40);
//     border-radius: 8.21px;
// }

// .text-wrapper {
//     position: relative;
//     width: fit-content;
//     margin-top: -6px;
//     margin-bottom: -2px;
//     font-family: "Open Sans-SemiBold", Helvetica;
//     font-weight: 600;
//     color: var(--txt-bgwhite);
//     font-size: 22px;
//     letter-spacing: 0;
//     line-height: 32px;
//     white-space: nowrap;
// }

// .card .status {
//     display: inline-flex;
//     align-items: center;
//     gap: 4px;
//     padding: 2px 12px;
//     position: absolute;
//     top: -3px;
//     left: 175px;
//     background-color: #ffffff;
//     border-radius: 52px;
//     border: 1px solid;
//     border-color: #008211;
// }

// .card .text-wrapper-4 {
//     position: relative;
//     width: fit-content;
//     margin-top: -1px;
//     font-family: "Open Sans-SemiBold", Helvetica;
//     font-weight: 600;
//     color: var(--alertsdarkgreen);
//     font-size: 10px;
//     text-align: right;
//     letter-spacing: 0;
//     line-height: 16px;
//     white-space: nowrap;
// }
