@import "../styles/configuration.scss";

// .container {
//   min-width: 1440px !important;
//   height: 100vh;
// }

.flex-basis-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  background-color: #f5f5f7 !important;
  height: 100vh;

  .pre-header {
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid gray;
    padding-left: 15px;
    background-color: var(--bs-white);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: $font-size-base-xl !important;
    color: $accelya-primary-blue;
    font-weight: normal;

    .logging-center {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 30px;

      .logged-in-as {
        display: flex;
        flex-direction: column;
      }
      .logout01-svg {
        margin-left: 10px;
        background-image: url("../assets/svg/arrow-to-shape-right-svgrepo-com.svg") !important;
        background-repeat: no-repeat;
        width: 22px;
        height: 22px;
      }
      .logout-svg {
        margin-left: 10px;
        background-image: url("../assets/svg/logout_circle.svg") !important;
        background-repeat: no-repeat;
        width: 22px;
        height: 22px;
      }
    }
  }

  .header {
    width: 90% !important;
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    border-radius: 7px;
    flex-wrap: wrap;
    //min-height: 220px;

    &.navy-background {
      background-color: $accelya-primary-blue;
      color: var(--txt-bgwhite);
    }

    .logo-flight-nfo {
      flex-wrap: nowrap;
      padding: 10px;

      .accelya-text-img {
        width: 10px;
        height: 20px;
        display: flex;
      }
    }

    .priority-parent {
      background-color: $accelya-primary-blue;
      //border: 1px solid black;
      min-width: 33%;
      //height: 100%;
    }

    .analayst-parent {
      background-color: $accelya-primary-blue;
      //border: 1px solid black;
      min-width: 33%;
      //height: 100%;
    }

    .list-parent {
      min-width: 33%;
      margin-top: auto !important;
      display: flex;
      flex-direction: column;
      background-color: $accelya-primary-blue;
      //border: 1px solid black;
      align-items: flex-start;
      justify-content: flex-start;
      height: 225px;
      //height: 100%;
    }

    .list-rect-group {
      margin-top: auto;
      padding-bottom: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .list-column {
        display: flex;
        flex-direction: column;

        .list-row-group {
          display: flex;
          align-items: center;

          .left-strip {
            width: 8px;
            height: 65px;
            margin: 0 0px 10px 5px;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            margin-right: auto;
            &.blue-tint {
              background-color: rgb(55, 55, 189);
            }
            &.magenta-tint {
              background-color: rgb(167, 65, 180);
            }
            &.orange-tint {
              background-color: rgb(184, 94, 42);
            }
            &.green-tint {
              background-color: rgb(22, 95, 22);
            }
          }

          .list-rect {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 12.5rem;

            height: 4.2rem;
            padding-left: 10px;
            margin: auto 5px 10px 0;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            box-shadow: 0px 2px 8px rgba(1, 99, 226, 0.3);
            background-color: rgba(0, 0, 0, 0.25);

            .todo-calendar {
              // z-index: 11001;
              margin-top: 20px;
              margin-right: 0px;
              background-image: url("../assets/svg/todo-calendar.svg") !important;
              background-repeat: no-repeat;
              width: 45px;
              height: 45px;
            }
          }

          .list-text-group {
            display: flex;
            flex-direction: column;
            .list-sub {
              font-size: 12px;
              font-size: 12px;
              line-height: 20px;
              font-weight: 400;
              color: #c2d0eb;
            }
          }
        }
      }
    }

    .menu-bar-lower {
      min-width: 75% !important;
      .routes {
        //width: 30%;
        padding-right: 15px;
        justify-content: flex-start;
      }
    }
  }

  .footer {
    display: flex;
    margin-top: auto !important;
    bottom: 0px;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 16px 32px;
    background: white;
    border-top: 1px #d0d3d4 solid;
    bottom: 0% !important;
    .privacy-text {
      margin-left: auto;
      color: #012169;
      font-size: 14px;
      font-weight: 400;
      word-wrap: break-word;
    }
  }
}

.accelya-logo-svg {
  background-image: url("../assets/svg/accelya-logo.svg") !important;
  background-repeat: no-repeat;
  width: 150px;
  height: 38px;
}

.airRm-text {
  color: #5f1baf;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
}
