<div class="container-fluid">
  <div class="flex-basis-main">

    <div class="pre-header">
      <span class="accelya-logo-svg">
      </span>
      <span class="airRm-text">AirRM </span>
      <span class="headline-text headline-20-28-600 ps-3">Flags Dashboard</span>
      <div class="logging-center">
        <div *ngIf="(dashboardTilesAPIComponent.apiLoggedInUser$ | async) as loggedInUser">
          <div class="logged-in-as ms-2">
            <div class="body-text body-12-16-600 text-body-plat">User: {{loggedInUser.userID}}</div>
            <!-- <div class="body-text body-12-16-400 text-body-plat">{{loggedInUser.fullName}}</div> -->
            <div *ngIf="loggedInUser.isSupervisor"
               class="body-text body-12-16-400 text-body-plat">Supervisor</div>
          </div>
        </div>
      </div>
      <span class="body-text body-12-16-400 text-p-blue me-2">v: {{currentApplicationVersion}}</span>
    </div>
    <div class="header navy-background">
      <section class="priority-parent">
        <div class="fw-600 ms-3 mt-2">Priority Status</div>
        <app-priority-chart></app-priority-chart>
      </section>
      <section class="analayst-parent">
        <div class="fw-600 mt-2">Affected Flights by NDO</div>
        <monthly-flags-chart></monthly-flags-chart>
      </section>
      <section class="list-parent">

        <div class="fw-600">My List</div>
        <div class="list-rect-group">
          <section>
            <div class="list-column">
              <div class="list-row-group">
                <div class="left-strip blue-tint"></div>
                <div class="list-rect">
                  <div class="list-text-group subtitle-text sub-title-20-28-600 ms-2">
                    Title
                    <div class="list-sub">421 Flights</div>
                  </div>
                  <div class="todo-calendar"></div>
                </div>
              </div>
              <div class="list-row-group">
                <div class="left-strip orange-tint"></div>
                <div class="list-rect">
                  <div class="list-text-group subtitle-text sub-title-20-28-600 ms-2">
                    Title
                    <div class="list-sub">388 Flights</div>
                  </div>
                  <div class="todo-calendar"></div>
                </div>
              </div>
            </div>
          </section>
          <div class="list-column">
            <div class="list-rect">
              <div class="list-row-group">
                <div class="left-strip magenta-tint"></div>
                <div class="list-rect">
                  <div class="list-text-group subtitle-text sub-title-20-28-600 ms-2">
                    Title
                    <div class="list-sub">126 Flights</div>
                  </div>
                  <div class="todo-calendar"></div>
                </div>
              </div>
              <div class="list-row-group">
                <div class="left-strip green-tint"></div>
                <div class="list-rect">
                  <div class="list-text-group subtitle-text sub-title-20-28-600 ms-2">
                    Title
                    <div class="list-sub">421 Flights</div>
                  </div>
                  <div class="todo-calendar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="content-parent">
      <div class="floating-control-panel py-2">

        <div *ngIf="(dashboardTilesAPIComponent.apiLoggedInUser$ | async) as loggedInUserType"
           class="analyst-width">
          <analyst-search [Users]="loggedInUserType"></analyst-search>
          <!-- <ng-template #placeholder
           *ngIf="!loggedInUserType.isSupervisor"></ng-template> -->
        </div>

        <div class="menu-bar-items flags">
          <div class="list-column-group w-25 mr-auto ms-2">
            Flag Type
          </div>
          <div *ngIf="(sortTileOptionsService.flagTypeBehaviorSubject$ | async) as flags"
             class="ml-auto w-75">
            <ng-select class="custom-select"
               title="Select Flag Type"
               (change)="sortTileOptionsService.selectFlagTypes($event)"
               [clearable]="true"
               [searchable]="false"
               [multiple]="false"
               [closeOnSelect]="true"
               (clear)="clear('All');"
               [(ngModel)]="sortTileOptionsService.selectedFlags"
               placeholder="Select Flag Type"
               [items]="sortTileOptionsService.flagTypes">
              <ng-template ng-label-tmp
                 let-item="item">
                <div>{{item}}</div>
              </ng-template>
              <ng-template ng-option-tmp
                 let-item="item">
                <div class="ms-2">
                  {{ item.name }}
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="menu-bar-items priorities">
          <div class="list-column-group w-25 mr-auto ms-2">
            Sort By
          </div>
          <div *ngIf="(sortTileOptionsService.priorityListBehaviorSubject$ | async) as priorities"
             class="ml-auto w-75">
            <ng-select class="custom-select"
               title="Select Priority"
               (change)="sortTileOptionsService.selectSortMethod($event)"
               [clearable]="true"
               [searchable]="false"
               [(ngModel)]="sortTileOptionsService.selectedPriority"
               placeholder="Select Priority"
               [items]="priorities">
              <ng-template ng-label-tmp
                 let-item="item">
                <div>{{item.name}}</div>
              </ng-template>
              <ng-template ng-option-tmp
                 let-item="item">
                <div>
                  {{ item.name }}
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>

      </div>
      <router-outlet></router-outlet>
    </div>
    <div class="footer">
      <span class="accelya-logo-svg"></span>
      <span class="privacy-text">
        Privacy | Terms & Conditions</span>
    </div>
  </div>