<div class="">
  <div class="flex-basis-main">
    <div class="pre-header">

      <span class="accelya-logo-svg"></span>
      <span class="headline-text headline-20-28-600 ps-3">Flags Dashboard</span>

      <div class="logging-center">
        <div class="logged-in-as">
          <div class="body-text body-14-24-600">Tanya Robinson</div>
          <div class="body-text body-12-16-400">Admin Accelys</div>
        </div>
        <div class="logout-svg"></div>
      </div>
    </div>

    <div class="header navy-background">
      <div class="mx-3 mt-4">
        <app-priority-chart></app-priority-chart>
      </div>
      <div class="mx-3 mt-4">
        <monthly-flags-chart></monthly-flags-chart>
      </div>
      <div class="mx-3 mt-4">
        <div class="m-2 fw-600">My List</div>
        <div class="list-rect-group">
          <div class="list-column">
            <div class="list-row-group">
              <div class="left-strip blue-tint"></div>
              <div class="list-rect">
                <div class="list-text-group ms-2">
                  Title
                  <div class="list-sub">421 Flights</div>
                </div>
                <div class="todo-calendar"></div>
              </div>

            </div>
            <div class="list-row-group">
              <div class="left-strip orange-tint"></div>
              <div class="list-rect">
                <div class="list-text-group ms-2">
                  Title
                  <div class="list-sub">388 Flights</div>
                </div>
                <div class="todo-calendar"></div>
              </div>
            </div>
          </div>
          <div class="list-column">
            <div class="list-rect">
              <div class="list-row-group">
                <div class="left-strip magenta-tint"></div>
                <div class="list-rect">
                  <div class="list-text-group ms-2">
                    Title
                    <div class="list-sub">126 Flights</div>
                  </div>
                  <div class="todo-calendar"></div>
                </div>
              </div>
              <div class="list-row-group">
                <div class="left-strip green-tint"></div>
                <div class="list-rect">
                  <div class="list-text-group ms-2">
                    Title
                    <div class="list-sub">421 Flights</div>
                  </div>
                  <div class="todo-calendar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="floating-control-panel ">
      <div class="menu-bar-items analysts bordered">
        <analyst-search></analyst-search>
      </div>

      <div class="menu-bar-items analysts">

        <div class="d-flex align-items-center">

          <div class="list-column-group">
            <div class="row-list ps-3">
              <div>Routes</div>
              <div class="list-sub">
                {{sortTileOptionsService.selectedItems.length}} of {{sortTileOptionsService.routeList.length}} Routes
              </div>
            </div>
          </div>
          <ng-select class="custom-select"
             title="Select Metric"
             [multiple]="true"
             [closeOnSelect]="false"
             placeholder="Select Routes"
             [(ngModel)]="sortTileOptionsService.selectedItems"
             [clearable]="false"
             [searchable]="true"
             [items]="sortTileOptionsService.routeList"
             [bindLabel]="'name'">

            <ng-template ng-option-tmp
               let-item="item"
               let-i="index">
              <div class="d-flex w-100">
                <input type="checkbox"
                   [checked]="item.state"
                   (change)="sortTileOptionsService.onNdoSelect(i)" />
                <div class="d-flex ms-1">
                  <div class="ms-2">
                    {{ item.name }}
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-select>
        </div>
      </div>

      <div class="menu-bar-items ms-auto py-2">
        <div class="list-column-group">
          Sort By
        </div>

        <div *ngIf="(sortTileOptionsService.priorityListBehaviorSubject$ | async) as allCabins"
           class="me-5">
          <ng-select class="custom-select"
             title="Select Priority"
             (change)="sortTileOptionsService.selectSortMethod($event)"
             [clearable]="false"
             [searchable]="false"
             [(ngModel)]="sortTileOptionsService.selectedPriority"
             placeholder="Select Priority"
             [items]="allCabins">
            <ng-template ng-label-tmp
               let-item="item">
              <div>{{item.name}}</div>
            </ng-template>
            <ng-template ng-option-tmp
               let-item="item">
              <div>
                {{ item.name }}
              </div>
            </ng-template>
          </ng-select>
        </div>
      </div>
    </div>

    <div class="flex-main">
      <app-dashboard-grid></app-dashboard-grid>
    </div>

    <div class="footer">
      <span class="accelya-logo-svg"></span>
      <span class="privacy-text">
        Privacy | Terms & Conditions</span>
    </div>
  </div>
</div>