<div class="d-flex align-items-center">
    <div class="list-column-group">
        <div class="row-list ps-3">
            <div>Routes</div>
            <div class="list-sub">
                {{sortTileOptionsService.selectedRoutes.length}} of {{sortTileOptionsService.routeList.length}}
                Routes
            </div>
        </div>
    </div>

    <!-- <ng-select class="custom-select"
       *ngIf="(sortTileOptionsService.routeListBehaviorSubject$ | async) as routes"
       title="Select Metric"
       [multiple]="true"
       [closeOnSelect]="false"
       placeholder="Select Routes"
       [clearable]="false"
       [searchable]="false"
       [ngModel]="sortTileOptionsService.selectedRoutes"
       [items]="routes"
       bindLabel="name">
        <ng-template ng-header-tmp>
            <div class="options-variant">
                <div class="base-option">
                    <div class="content">
                        <div class="option-type">
                            <div class="div-wrapper">
                                <input type="checkbox"
                                   [checked]="getNumRoutesSelected()"
                                   class="unselected"
                                   (change)="sortTileOptionsService.onSelectAllRoutes()" />
                            </div>
                            <div class="div-wrapper">
                                <div class="option-title">
                                    Select All
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ng-multi-label-tmp
           let-items="items"
           let-clear="clear">
            <div class="ng-value"
               *ngFor="let item of sortTileOptionsService.selectedRoutes | slice: 0:2">
                <div class="d-flex"
                   *ngIf="item.state">
                    <span class="ng-value-icon"
                       (click)="sortTileOptionsService.clear(item)">
                        ×</span>
                    {{item.name}}
                </div>
            </div>
            <div class="ng-value"
               *ngIf="sortTileOptionsService.selectedRoutes.length > 2">
                <span class="ng-value-label">{{ sortTileOptionsService.selectedRoutes.length - 2 }} more...</span>
            </div>
        </ng-template>
        <ng-template ng-option-tmp
           let-item="item"
           let-i="index">
            <div class="d-flex">
                <input type="checkbox"
                   [checked]="item.state"
                   (change)="sortTileOptionsService.onRouteSelect(item, i, true, false)" />
                <div class="d-flex ms-1">
                    <div class="ms-2">
                        {{ item.name }}
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-select> -->
</div>