.div-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  position: relative;
  flex: 0 0 auto;
  color: var(--txt-bgscreenblack);
  font-family: var(--semibold-font-size-200-semi-font-family);
  font-size: var(--semibold-font-size-200-semi-font-size);
  font-style: var(--semibold-font-size-200-semi-font-style);
  font-weight: var(--semibold-font-size-200-semi-font-weight);
}

.all {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.text-wrapper {
  color: var(--txt-bgscreenblack);
  font-family: var(--semibold-font-size-200-semi-font-family);
  font-size: var(--semibold-font-size-200-semi-font-size);
  font-style: var(--semibold-font-size-200-semi-font-style);
  font-weight: var(--semibold-font-size-200-semi-font-weight);
  letter-spacing: var(--semibold-font-size-200-semi-letter-spacing);
  line-height: var(--semibold-font-size-200-semi-line-height);
  white-space: nowrap;
  width: fit-content;
}
