<div class="d-flex align-items-center">
    <div class="list-column-group">
        <div class="row-list ms-3">
            <div>Analyst</div>
            <div class="list-sub">
                {{sortTileOptionsService.selectedAnalysts.length}} of {{sortTileOptionsService.analystGroup.length}}
                Analysts
            </div>
        </div>
    </div>

    <div class="me-3 ms-auto">
        <ng-select class="custom-select  ms-3"
           title="Select Analysts"
           [multiple]="true"
           [closeOnSelect]="false"
           [clearable]="false"
           [searchable]="true"
           placeholder="Select Analysts"
           appendTo=".list-column-group"
           [multiple]="true"
           [(ngModel)]="sortTileOptionsService.selectedAnalysts"
           [items]="sortTileOptionsService.analystGroup"
           [bindLabel]="'name'">
            <ng-template ng-header-tmp>
                <div class="search-options">
                    <div class="input-variant">
                        <div class="search"></div>
                        <div class="text">
                            <div class="text-wrapper">Search</div>
                        </div>
                    </div>
                </div>
                <div class="options-variant">
                    <div class="base-option">
                        <div class="content">
                            <div class="option-type">
                                <div class="div-wrapper">
                                    <div class="unselected"></div>
                                </div>
                                <div class="div-wrapper">
                                    <div class="option-title">
                                        <div class="div">Select All</div>
                                    </div>
                                </div>
                            </div>
                            <div class="icon"></div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template ng-label-tmp
               let-item="item">
                <img height="40"
                   width="40"
                   [src]="item.avatar" />
            </ng-template>
            <ng-template ng-option-tmp
               let-item="item"
               let-i="index">
                <div class="analyst-row w-100">
                    <div class="me-2">
                        <img height="30"
                           width="30"
                           [src]="item.avatar" />
                    </div>
                    <input type="checkbox"
                       [checked]="item.state"
                       (change)="onAdd(item)" />
                    <div class="d-flex ms-1">
                        <div class="ms-2">
                            <div class="frame-2">
                                <div class="text-wrapper-2">{{ item.name }}</div>
                                <div class="text-wrapper-3">{{ item.title }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-select>

    </div>
</div>