@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./styles/configuration.scss";

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255) !important;
  margin: 0;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: auto;
  margin-left: auto;
}

.btn-primary-1 {
  --bs-btn-color: var(--bs-white) !important;
  --bs-btn-bg: var(--accelya-primary-blue) !important;
  --bs-btn-disabled-bg: var(--accelya-primary-disabled) !important;
  --bs-btn-disabled-color: var(--accelya-primary-color-disabled) !important;
  // --bs-btn-border-color: var(--bd-violet);
  --bs-border-radius: 6px !important;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--button-primary-blue-hover) !important;
  // --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  //--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-focus-shadow-rgb: var(--bs-white) !important;
  --bs-btn-active-color: var(--bs-btn-hover-color) !important;
  --bs-btn-active-bg: var(--button-primary-blue-pressed) !important;
  // --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

// content-frame-comb-drop-input d-flex align-items-center
.btn-primary-2 {
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--accelya-primary-blue) !important;
  //--bs-btn-disabled-bg: var(--accelya-primary-disabled: ) !important;
  // --bs-btn-border-color: var(--bd-violet);
  --bs-border-radius: 6px !important;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--button-primary-blue-hover) !important;
  // --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  //--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-focus-shadow-rgb: var(--bs-white);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--button-primary-blue-pressed);
  // --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.btn-default-1 {
  --bs-btn-color: var(--button-primary-blue);
  --bs-btn-bg: var(--bs-white) !important;
  --bs-btn-border-color: var(--button-primary-blue-hover) !important;
  --bs-border-radius: 6px !important;
  --bs-btn-hover-color: var(--bs-white) !important;
  --bs-btn-hover-bg: var(--button-primary-blue-hover) !important;
  // --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  //--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-focus-shadow-rgb: var(--button-primary-blue-hover) !important;
  --bs-btn-active-color: var(--bs-btn-hover-color) !important;
  --bs-btn-active-bg: var(--button-primary-blue-pressed) !important;
  // --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.new-icon-wrapper {
  height: 40px !important;
  width: 40px !important;
  padding: 0.35rem;
  background-color: #2962ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20% !important;
  top: 75% !important;
  z-index: 2;

  &:hover {
    transition: all 0.25s;
    background-color: darken(#2962ff, 15%);
  }

  &.icon {
    color: white;
  }

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="file"] {
    display: none;
  }
}

.image-container {
  height: 240px;
  width: 240px;
  z-index: 1;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  box-shadow: 0 10px 20px 20px #6c93001a;
  &.avatar-placeholder {
    background-image: url("./assets/avatar/avatar-placeholder.png");
  }
}

a {
  cursor: pointer;
  &:hover {
    color: red;
  }
}

.ellipsis-vertical {
  background-image: url("./assets/svg/three-dots-vertical.svg") !important;
  width: 10px;
  height: 20px;
  background-repeat: no-repeat;
}

.ellipsis-vertical:hover {
  fill: red;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none !important;
  /* Non-prefixed version, currently
    supported by Chrome, Opera and Firefox */
}

.custom-select {
  width: 100%;
  font-size: 15px;
  .analyst-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
}

.flight-details-select {
  font-size: 14px;
}

.analyst-select {
  width: 100%;
  font-size: 15px;
  .analyst-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
}

.ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  border: 0px solid #ccc !important;
  align-items: center;
}

.img-overlap {
  margin-right: -12px !important;
}

.ng-select .ng-arrow-wrapper {
  padding: 0px 25px;
}

.ng-select {
  .ng-arrow {
    border-color: inherit !important;
    border-width: 0 !important;
    margin-top: 13px !important;
    color: inherit;
    text-align: center;
    transform: rotate(0deg);
    transform-origin: 10px 5px;
    &:before {
      max-width: 12px !important;
      content: url("./assets/images/arrowupdown.svg") !important;
    }
  }
  &.ng-select-opened {
    .ng-arrow {
      margin-top: 16px !important;
      transform: rotate(180deg);
    }
  }
}

// From History modal
.ng-dropdown-panel .scroll-host {
  // width: 100px !important;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  display: block;
  -webkit-overflow-scrolling: touch;
}

.analyst-select.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 300px !important;
}

.analyst-select.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  margin-left: -15px !important;
  background-color: transparent;
}

.analyst-select.ng-select.ng-select-multiple .ng-select-container .ng-value-container:not(:first-child) {
  margin-left: -15px !important;
}

.analyst-select.ng-select.ng-select-multiple .ng-select-container .ng-value-container:first-child {
  padding-left: 15px;
}

.analyst-select.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
  margin-left: -15px !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
  background-color: #d1e8ff;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
  color: #333;
  background-color: white !important;
}

.custom-select.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  display: flex;
  align-items: center;
  width: 310px !important;
}

.custom-select.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  margin-left: 0px !important;
  background-color: rgb(255, 255, 255);
  padding: 5px 10px 5px 5px;
  border: 1px solid gray;
  border-radius: 5px;
}
