@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./styles/configuration.scss";

@font-face {
  font-family: "OpenSans";
  src: url("/assets/fonts/OpenSans.eot");

  src:
    url("/assets/fonts/OpenSans.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/OpenSans.woff") format("woff"),
    url("/assets/fonts/OpenSans.ttf") format("truetype"),
    url("/assets/fonts/OpenSans.svg#svgFontName") format("svg");
}

body {
  height: 100vh;
  box-sizing: border-box;
  font-family: "OpenSans-Semibold", sans-serif;
  background-color: rgb(255, 255, 255) !important;
  margin: 0;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  --bs-btn-padding-x: 1rem !important;
  --bs-btn-padding-y: 0.25rem !important;
  --bs-btn-font-size: 12px !important;
  --bs-btn-font-weight: 400 !important;
  --bs-btn-line-height: 16px !important;
}

.btn-primary-1 {
  --bs-btn-color: var(--bs-white) !important;
  --bs-btn-bg: var(--accelya-primary-blue) !important;
  --bs-btn-disabled-bg: var(--accelya-primary-disabled) !important;
  --bs-btn-disabled-color: var(--accelya-primary-color-disabled) !important;
  --bs-btn-border-color: var(--button-border);
  --bs-border-radius: 4px !important;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--button-primary-blue-hover) !important;
  --bs-btn-hover-border-color: var(--button-border-hover);
  //--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-focus-shadow-rgb: var(--bs-white) !important;
  --bs-btn-active-color: var(--bs-btn-hover-color) !important;
  --bs-btn-active-bg: var(--button-primary-blue-pressed) !important;
  // --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.btn-primary-transparent {
  --bs-btn-color: var(--bs-white) !important;
  --bs-btn-bg: rgba(0, 0, 0, 0.1) !important;
  --bs-btn-disabled-bg: var(--accelya-primary-disabled) !important;
  --bs-btn-disabled-color: var(--accelya-primary-color-disabled) !important;
  --bs-btn-border-color: rgba(240, 240, 240, 0.46);
  --bs-border-radius: 4px !important;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: rgba(0, 0, 0, 0.1) !important;
  --bs-btn-hover-border-color: var(--button-border-hover);
  //--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-focus-shadow-rgb: var(--bs-white) !important;
  --bs-btn-active-color: var(--bs-btn-hover-color) !important;
  --bs-btn-active-bg: var(--button-primary-blue-pressed) !important;
  // --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.btn-disabled {
  --bs-btn-color: var(--bs-white) !important;
  --bs-btn-bg: var(--accelya-primary-disabled) !important;
  --bs-btn-disabled-bg: var(--accelya-primary-disabled) !important;
  --bs-btn-disabled-color: var(--accelya-primary-color-disabled) !important;
  // --bs-btn-border-color: var(--bd-violet);
  --bs-border-radius: 6px !important;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--button-primary-blue-hover) !important;
  // --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  //--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-focus-shadow-rgb: var(--bs-white) !important;
  --bs-btn-active-color: var(--bs-btn-hover-color) !important;
  --bs-btn-active-bg: var(--button-primary-blue-pressed) !important;
  // --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

// content-frame-comb-drop-input d-flex align-items-center
.btn-primary-2 {
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--accelya-primary-blue) !important;
  //--bs-btn-disabled-bg: var(--accelya-primary-disabled: ) !important;
  // --bs-btn-border-color: var(--bd-violet);
  --bs-border-radius: 6px !important;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--button-primary-blue-hover) !important;
  // --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  //--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-focus-shadow-rgb: var(--bs-white);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--button-primary-blue-pressed);
  // --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.btn-default-1 {
  --bs-btn-color: var(--button-primary-blue);
  --bs-btn-bg: var(--bs-white) !important;
  --bs-btn-border-color: var(--button-primary-blue-hover) !important;
  --bs-border-radius: 6px !important;
  --bs-btn-hover-color: var(--bs-white) !important;
  --bs-btn-hover-bg: var(--button-primary-blue-hover) !important;
  // --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  //--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-focus-shadow-rgb: var(--button-primary-blue-hover) !important;
  --bs-btn-active-color: var(--bs-btn-hover-color) !important;
  --bs-btn-active-bg: var(--button-primary-blue-pressed) !important;
  // --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.modal-body {
  position: relative;
  height: auto !important;
  flex: 1 1 auto;
  padding: 0.5rem !important;
}

a {
  cursor: pointer;
  &:hover {
    color: red;
  }
}

.ellipsis-vertical {
  background-image: url("./assets/svg/three-dots-vertical.svg") !important;
  width: 10px;
  height: 20px;
  background-repeat: no-repeat;
}

.ellipsis-vertical:hover {
  fill: red;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.between {
    justify-content: space-between;
  }
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none !important;
  /* Non-prefixed version, currently
    supported by Chrome, Opera and Firefox */
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(197, 197, 197);
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(139, 139, 139);
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(99, 99, 99);
}
// Toggle button version in AU Visualization chart
input[type="radio"] {
  display: none;

  &:not(:disabled) ~ label {
    cursor: pointer;
    padding: 0.16rem 0 !important;
    width: 105px !important;
  }

  &:disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    background: gray;
    width: 105px !important;
    padding: 0.16rem 0 !important;
    box-shadow: none;
    cursor: not-allowed;
  }
}

input[type="radio"]:not(:checked) ~ label {
  color: white;
}

input[type="radio"]:checked + label {
  background: #0d6efd;
  width: 105px !important;
  padding: 0.16rem 0 !important;
  color: hsla(215, 0%, 100%, 1);
}

// .mat-mdc-slide-toggle.mat-primary,
// .mat-mdc-slide-toggle.mat-accent {
//   --mdc-switch-selected-focus-state-layer-color: #1e88e5;
//   --mdc-switch-selected-handle-color: #1e88e5;
//   --mdc-switch-selected-hover-state-layer-color: #1e88e5;
//   --mdc-switch-selected-pressed-state-layer-color: #1e88e5;
//   --mdc-switch-selected-focus-handle-color: #0d47a1;
//   --mdc-switch-selected-hover-handle-color: #0d47a1;
//   --mdc-switch-selected-pressed-handle-color: #0d47a1;
//   --mdc-switch-selected-focus-track-color: #64b5f6;
//   --mdc-switch-selected-hover-track-color: #64b5f6;
//   --mdc-switch-selected-pressed-track-color: #64b5f6;
//   --mdc-switch-selected-track-color: #64b5f6;
// }
.mat-slide-toggle {
  transform: scale(0.7) !important;
}

.mat-slide-toggle-bar {
  background-color: var(--accelya-primary-blue) !important;
}

.mat-mdc-slide-toggle .mdc-switch .mdc-switch__track {
  height: var(--mdc-switch-track-height, 14px) !important;
  background-color: red;
}

.grid-grand-parent {
  width: 100% !important;
  .grid-parent {
    width: 100% !important;
    box-sizing: content-box;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    //overflow-y: scroll;
    flex-wrap: wrap;
  }
}

.item-content {
  border: 1px solid rgb(192, 192, 192);
  box-shadow: 0px 6px 12px -3px rgba(15, 15, 16, 0.1);
  color: white;
  font-weight: "bold";
  margin: 3px;
  border-radius: 8px !important;
  border-radius: 8px !important;
  width: 12rem;
  //max-width: 13rem;
  background: white !important;
  background-color: white !important;
  padding: 4px 14px;

  .reviewed-tag {
    margin-top: -12px;
    margin-left: 60%;
    width: 4.6rem;
    line-height: 16px;
    border-radius: 12px;
    text-align: center;
    padding: 1px 12px;
    font-size: 11px;
    font-weight: 600;
    background-color: white;
    color: var(--alertsdarkgreen);
    border: 1px solid var(--alertsdarkgreen);

    &.visible {
      opacity: 1;
    }
    &.not-visible {
      opacity: 0;
    }
  }

  .drag-handler {
    background-color: white;
    display: flex;
    flex-direction: column;

    .top-row {
      font-family: var(--heading-font-size-300-semi-font-family);
      font-weight: var(--heading-font-size-300-semi-font-weight);
      color: var(--bc-3d-70);
      font-size: var(--heading-font-size-300-semi-font-size);

      letter-spacing: var(--heading-font-size-300-semi-letter-spacing);
      line-height: var(--heading-font-size-300-semi-line-height);
      font-style: var(--heading-font-size-300-semi-font-style);

      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .identity-row {
      display: flex;
      justify-content: space-between;
      align-content: center;

      .card-top-row {
        display: flex;
        align-items: flex-end;
        width: 100%;
      }

      .number-container {
        display: flex;
        width: 45px;
        height: 35px;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        .number-wrapper {
          font-weight: 500;
          text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
          color: #ffffff;
          font-size: 19px;
        }
      }

      .card-row-frame {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .div {
          margin-top: -1px;
          font-family: var(--heading-font-size-300-semi-font-family);
          font-weight: var(--heading-font-size-300-semi-font-weight);
          color: var(--bc-3d-70);
          font-size: var(--heading-font-size-300-semi-font-size);
          text-align: left;
          letter-spacing: var(--heading-font-size-300-semi-letter-spacing);
          line-height: var(--heading-font-size-300-semi-line-height);
          font-style: var(--heading-font-size-300-semi-font-style);
          width: 140px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .card-bottom-row {
        display: flex;
        align-items: flex-start;

        .system-time-wrapper {
          .clock-svg {
            width: 16px;
            height: 16px;
            background-image: url("./assets/svg/clock.svg") !important;
            background-repeat: no-repeat;
          }
        }

        .column-frame {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .text-wrapper {
            margin-top: -1px;
            font-family: "Open Sans-SemiBold", Helvetica;
            font-weight: 600;
            color: var(--darkgreyd-5);
            font-size: 10px;
            letter-spacing: 0;
            line-height: 16px;
          }
          .p {
            margin-top: -2px;
            font-family: var(--regular-font-size-50-font-family);
            font-weight: var(--regular-font-size-50-font-weight);
            color: var(--darkgreyl-25);
            font-size: var(--regular-font-size-50-font-size);
            letter-spacing: var(--regular-font-size-50-letter-spacing);
            line-height: var(--regular-font-size-50-line-height);
            font-style: var(--regular-font-size-50-font-style);
          }
        }
      }
    }
  }
}

.chart-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(163, 163, 163);

  .text-header-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 0.9rem;
    // font-weight: 600;
    padding: 4px 8px;
    background-color: rgb(224, 224, 236);
    color: black !important;
  }
  .chart-body {
    padding: 0 5px;
  }
}

.content-parent {
  width: 85% !important;
}

.floating-control-panel {
  width: 100% !important;
  display: flex;
  justify-content: flex-start;
  margin-top: -17px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.356);
  flex-wrap: wrap;
}

.menu-bar-items {
  display: flex;
  align-items: center;
  background-color: white;
  flex-wrap: nowrap;

  &.analysts {
    min-width: 33%;
  }
  &.flags {
    min-width: 33% !important;
  }
  &.priorities {
    min-width: 33%;
  }
  .list-column-group {
    position: relative;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: navy;

    .list-sub {
      width: 120px;
      font-size: 11px;
      font-weight: normal;
      color: gray;
    }
  }
}

.analyst-width {
  min-width: 33% !important;
}

.custom-select {
  min-width: 100%;
  font-size: 12px;
  align-items: center;
}

.ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-height: 24px !important;
  align-items: center;
}

.ng-select.ng-select-single .ng-select-container {
  height: 24px !important;
}

.analyst-row {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 3px;
  border-bottom: 1px solid rgb(196, 196, 196);
}

.flag-run-parent {
  width: 100% !important;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  .flag-run-row {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #111111;
    padding: 4px 0;
    font-size: 13px;
    font-weight: 600;
    .flight-group {
      height: 100%;
    }
    .dropdown-end {
      height: 100%;
    }
  }
}

.flight-details-select {
  font-size: 12px;
  margin-left: auto;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  top: 7px !important;
  padding-bottom: 0px !important;
  padding-left: 3px;
}

.floating-box {
  z-index: 12000;
  .scrollable-box {
    position: relative;
    height: 350px;
    overflow: auto;
  }
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  background-color: #fff;
  color: rgb(105, 105, 105) !important;
  padding: 2px 5px !important;
}

// .ng-dropdown-panel {
//   z-index: 1200 !important;
// }

// From History modal
// .ng-dropdown-panel .scroll-host {
//   //overflow: hidden;
//   overflow-y: auto;
//   position: relative;
//   display: block;
//   -webkit-overflow-scrolling: touch;
// }

// .ng-value-active {
//   //margin-right: 18px !important;
//   //font-size: 13px;
//   color: var(--accelya-primary-blue) !important;
// }

// .ng-select-container {
//   color: #001871 !important;
//   background-color: white !important;
//   border-radius: 2px;
//   //border: 1px solid hsla(150, 75%, 50%, 0.5) !important;
//   //max-height: 36px !important;
//   align-items: center;

//   .ng-has-value {
//     color: #001871 !important;
//   }

//   .ng-option {
//     font-size: 11px !important;
//     color: #001871 !important;
//   }
// }

// .analyst-select.ng-select.ng-select-multiple .ng-select-container {
//   // display: flex;
//   // align-items: center;
//   // background-color: transparent;
//   width: 75% !important;
// }
