@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./styles/configuration.scss";

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255) !important;
  margin: 0;
}

.btn-primary-1 {
  --bs-btn-color: var(--bs-white) !important;
  --bs-btn-bg: var(--accelya-primary-blue) !important;
  --bs-btn-disabled-bg: var(--accelya-primary-disabled) !important;
  --bs-btn-disabled-color: var(--accelya-primary-color-disabled) !important;
  // --bs-btn-border-color: var(--bd-violet);
  --bs-border-radius: 6px !important;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--button-primary-blue-hover) !important;
  // --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  //--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-focus-shadow-rgb: var(--bs-white) !important;
  --bs-btn-active-color: var(--bs-btn-hover-color) !important;
  --bs-btn-active-bg: var(--button-primary-blue-pressed) !important;
  // --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

// content-frame-comb-drop-input d-flex align-items-center
.btn-primary-2 {
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--accelya-primary-blue) !important;
  //--bs-btn-disabled-bg: var(--accelya-primary-disabled: ) !important;
  // --bs-btn-border-color: var(--bd-violet);
  --bs-border-radius: 6px !important;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--button-primary-blue-hover) !important;
  // --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  //--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-focus-shadow-rgb: var(--bs-white);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--button-primary-blue-pressed);
  // --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.btn-default-1 {
  --bs-btn-color: var(--button-primary-blue);
  --bs-btn-bg: var(--bs-white) !important;
  --bs-btn-border-color: var(--button-primary-blue-hover) !important;
  --bs-border-radius: 6px !important;
  --bs-btn-hover-color: var(--bs-white) !important;
  --bs-btn-hover-bg: var(--button-primary-blue-hover) !important;
  // --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  //--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-focus-shadow-rgb: var(--button-primary-blue-hover) !important;
  --bs-btn-active-color: var(--bs-btn-hover-color) !important;
  --bs-btn-active-bg: var(--button-primary-blue-pressed) !important;
  // --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.multiselect-dropdown .dropdown-btn .selected-item a {
  color: rgb(34, 34, 34) !important;
  font-size: 18px !important;
  font-weight: 600;
}

.multiselect-dropdown {
  .dropdown-btn {
    .selected-item-container {
      .selected-item {
        background: white !important;
        color: navy !important;
        &:hover {
          box-shadow: 1px 1px 2px 0px #5a5a5a !important;
        }
      }
    }
  }
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none !important;
  /* Non-prefixed version, currently
    supported by Chrome, Opera and Firefox */
}

.floating-control-panel {
  // border-collapse: separate;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  //margin-right: auto;
  ///left: 0;
  // right: 0;
  justify-content: flex-start;
  z-index: 1000;
  width: 85% !important;
  margin-top: -27px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.356);

  .menu-bar-items {
    display: flex;
    align-items: center;
    background-color: white;
    &.analysts {
      width: 400px;
      padding-right: 20px;
      padding-top: 3px;
      padding-bottom: 3px;

      &.bordered {
        border-right: 1px solid black;
      }
    }
    .list-column-group {
      position: relative;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      align-items: center;
      color: navy;

      .list-sub {
        width: 120px;
        font-size: 11px;
        font-weight: normal;
        color: gray;
      }
    }
  }
}

.custom-select {
  width: 100%;
  font-size: 15px;
  .analyst-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
}

:host ::ng-deep .ng-select.ng-select-single .ng-select-container {
  height: 1.5rem !important;
}

.ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  border: 0px solid #ccc !important;
  min-height: 26px !important;
  align-items: center;
}

.img-overlap {
  margin-right: -12px !important;
}

.ng-select .ng-arrow-wrapper {
  padding: 10px 25px;
}

.ng-select {
  .ng-arrow {
    border-color: inherit !important;
    border-width: 0 !important;

    color: inherit;
    text-align: center;
    transform: rotate(0deg);
    transform-origin: 10px 5px;
    &:before {
      content: url("./assets/images/arrowupdown.svg") !important;
    }
  }
  &.ng-select-opened {
    .ng-arrow {
      transform: rotate(180deg);
    }
  }
}

.ng-dropdown-panel {
  width: 100% !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  margin-left: -15px !important;
  background-color: transparent;
}
